body{
    font-family: poppins;
}

.item-con{
    width: 95%;
    height: 800px;
    margin-top: 8%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;

}

.item-con-left{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-image{
    width: 100%;
    height: 650px;
}

.item-view{
    width: 100%;
    height: 650px;
    border-radius: 20px;

}

.item-description{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.des-view{
    margin-left: 10%;
    margin-right: 10%;

}

.item-con-right{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.title-con{
    width: 100%;
    height: 55px;    margin: 1rem 0;

}

.title-view{
    margin-left: 10%;
    font-weight: bold;
    font-size: x-large;
}

.item-price{
    width: 100%;
    height: 55px;
    
}

.price-view{
    margin-left: 10%;
    font-weight: bold;
    font-size: x-large;
}

.process{
    width: 100%;
    height: 55px;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.btn-cart, .btn-buy{
    padding: .5rem .5rem;
    cursor: pointer;
    border: none;
    font-family: poppins;
    font-weight: 500;
    width: 7rem;
    color: #fff;
    height: 3rem;
}
.btn-cart{
    background-color:lightsalmon;
    margin-right: 5rem;
}

.btn-buy{
    
    background-color: rgb(179, 63, 83);

}
.link{
    padding: 0.8rem;
    cursor: pointer;
    border: none;
    font-family: poppins;
    font-weight: 500;
    width: 7rem;
    color: #fff;
    margin-right: 5rem;
    background-color:lightsalmon;
}

.page-warp-1 {
    max-width: 1980px;
    margin: 0 auto;
  }

  .error{
    margin-left: 5%;
    font-family: poppins;
    padding: .5rem .5rem ;
    animation: error;
    animation-duration: 5s;
    transition: ease-in 1s;
    width: 70%;
    color:  rgb(82, 76, 76);
    animation-iteration-count: infinite;
    animation-direction: alternate;


  }
  
  
  @keyframes error {
    to{
        color: white;
        box-shadow: inset 450px 0 0 0  rgb(223, 65, 65);
    }

}