{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/open_item.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>{{id}}</title>
</head>
<body>
    <div class="page-warp-1">

        <section>
            {% for data in open_items %}
            {% if data.link == id %}
            <div class="item-con">
                <div class="item-con-left">
                    <div class="item-image">
                        <img class="item-view" src="{{data.img.url}}" alt="">
                    </div>
                    <div class="item-description">
                        <span class="des-view" >{{data.item_des}}</span>
                    </div>
                </div>
                <div class="item-con-right">
                {% for message in messages %}
                    {% if message.tags == 'error' %}

                    <h4 class="error"> {{message}}</h4>

                    {% else %}

                    <h4 class="success"> {{message}}</h4>

                    {% endif %}
                {% endfor %}

                    <div class="title-con">
                        <span class="title-view">{{data.item_name}}</span>
                        {% comment %} {% for like  in  like %}
                        {% if like.item_name == data.item_name %}

                        <form class="head-item-con" action="{% url 'dis_like'  %}" method="POST">
                            {% csrf_token %}
                            <input type="text" style="display: none;" name="item" value="{{data.item_name}}">
                            <input type="text" style="display: none;" name="user" value="{{user.username}}">
                            <button class="btn_like" ><img class="dislike_img" src="{% static '/images/like.png'%}"></button>
                        </form>
                        {% else %}
                        <form class="head-item-con" action="{% url 'like'  %}" method="POST">
                            {% csrf_token %}
                            <span class="head-item-view" >{{list_items.item_name}}</span>
                            <input type="text" style="display: none;" name="item" value="{{data.item_name}}">
                            <input type="text" style="display: none;" name="user" value="{{user.username}}">
                            <button class="btn_like" ><img class="dislike_img" src="{% static '/images/unlike.png'%}"></button>
                        </form>
                        {% endif %}
                        {%empty%}
                        <form class="head-item-con" action="{% url 'like'  %}" method="POST">
                            {% csrf_token %}
                            <span class="head-item-view" >{{list_items.item_name}}</span>
                            <input type="text" style="display: none;" name="item" value="{{data.item_name}}">
                            <input type="text" style="display: none;" name="user" value="{{user.username}}">
                            <button class="btn_like" ><img class="dislike_img" src="{% static '/images/unlike.png'%}"></button>
                        </form>
                        {% endfor %} {% endcomment %}
                    </div>
                    <div class="item-price">
                        <span class="price-view">Rs {{data.item_price}}</span>
                    </div>
                    <div class="process">
                        <form action="{% url 'add_to_cart'%}" method="POST">
                            {% csrf_token %}    
                            <input name="item" value="{{data.item_name}}" style="display: none;">
                            <input name="user_id" value="{{user.username}}" style="display: none;">
                            {% if check == True %}
                            <a class="link" href="{% url 'cart' %}">Go to Cart</a>
                            {% else %}
                            <button type="submit" class="btn-cart" >Add to Cart</button>
                            {% endif %}
                        </form>
                        <form action="{% url 'buy'%}" method="GET">
                            {% csrf_token %}    
                            <input name="user_id" value="{{user.username}}" style="display: none;">
                            <input name="item" value="{{data.item_name}}" style="display: none;">
                            <button type="submit" class="btn-buy" >Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </section>
    
    </div>
    
</body>
</html>

{% endblock %}